.header {
    text-align: left;
    
    background-position: center;
    
    padding: 20;
  
}
body{background-image: url(backgrnd.jpg);
  background-size: 100% 100%;
}

.dropbtn {
    background-color: grey;
    color: rgba(97, 97, 97, 0.123);
    padding: 16px;
    height: 130px;
    width: 180;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    width: 180px; 
    height: 130px;
    font-size: 20px
  }
  
  .dropdown-content a {
    color: black;
    padding: 14px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: gray}
  
  .dropdown:hover .dropdown-content {display: block;
  }
  
  a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  #collapseOne{color: blue;
 background-image: url(Screenshot.png);
 height: 440px;
  }
  card{width: 40px;}