*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}


.header {
    text-align: left;
    background-position: center;
    padding: 20;
  
}
.dropbtn:hover{opacity: 0.5;
  box-shadow: 3px 3px 20px 1px black;}

  
.dropbtn {
    transition: transform .9s;
    background-color: grey;
    color: rgba(146, 143, 143, 0.123);
    padding: 16px;
    height: 100px;
    width: 180;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  .dropdown:hover{
    
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
}
  .dropdown { transition: transform .6s;
    position: relative;
    display: inline-block;
    box-shadow: 6px 3px 20px 3px black;
  }
  
  .dropdown-content:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    background-color: gray;
    
  }
  .dropdown-content {
    box-shadow: 6px 3px 25px 6px black;
    transition: transform .6s;
    display: none;
    position: absolute;
    background-color: gray;
    width: 180px; 
    height: 130px;
    font-size: 20px
  }
  
  .dropdown-content a {
    transition: transform .6s;
    color: black;
    padding: 14px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: dark;opacity: 1;
    box-shadow: 6px 3px 25px 6px rgba(0, 0, 0, 0.363);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
  }
  
  .dropdown:hover .dropdown-content {display: block;
  }
  
  a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  body{background-image: url(backgrnd.jpg);
    background-size: 100% 100%; 
   
  }
  
  
  footer {
    position: absolute;
    right: 0;bottom:0;left:0;
  }
  .fa {
  
   width: 6px;
   height: 21px;
   
   transition: transform .2s;
   opacity: 1;
    text-decoration: none;
    margin: 1px;
    border-radius: 100%
  
  }
  
  .fa:hover {
    
      -ms-transform: scale(1.3); 
      -webkit-transform: scale(1.3); 
      transform: scale(1.3);
      
      
  }
  .fa-facebook:hover{
    box-shadow: 6px 3px 25px 6px #3B5998;}
  .fa-facebook {
    background: #3B5998;
    color: white;
    }

.fa-linkedin:hover{opacity: 1;
      box-shadow: 6px 3px 25px 6px #007bb5;}
 .fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram:hover{opacity: 1;
    box-shadow: 0px 0px 25px 6px #b90292;} 
.fa-instagram {
    background:#b90292; ;
    color: white;
  }
  
.fa-google:hover{opacity: 1;
    box-shadow: 6px 3px 25px 6px #dd4b39;} 
.fa-google {
      background: #dd4b39;
      color: white;
     }  

   
     
    

     
      .accordion:hover{opacity: 1;
        
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2); 
        transform: scale(1.2);
      }
      .accordion {
       
        transition: transform .1s;
        background-color: rgb(49, 51, 61);
        color: white;
        cursor: pointer;
        box-shadow: 6px 3px 15px 6px rgb(12, 12, 12);
        max-width: 400px;
        height:60px;
        
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        
      }
  

 h2 {
   color: White;
   text-align: center;
   color: yellow;
   text-shadow: 3px 4px 9px black;
   font-size: 70px;
   width: 300px;
   position:fixed; top:200px;
   position:fixed; right:500px;
  
 }
          
      
      

